pytest==3.6.4
sentencepiece==0.1.95
torch==1.8.1+cu101
tqdm==4.41.1
spacy==2.2.4
six==1.15.0
pytorch_transformers==1.2.0
botocore==1.20.54
scipy==1.4.1
sacremoses==0.0.45
absl_py==0.12.0
tensorflow==2.4.1
matplotlib==3.2.2
regex==2019.12.20
boto3==1.17.54
numpy==1.19.5
jieba==0.42.1
requests==2.23.0
nltk==3.2.5
transformers==2.6.0
apex==0.9.10dev
fairseq==0.10.2
ftfy==6.0.1
ptvsd==4.3.2
pythainlp==2.3.1
tensorboardX==2.2
